fastapi[standard]
uvicorn
sqlalchemy
jinja2
python-multipart
langchain
faiss-cpu
langchain_openai
langchain-community
langchain-groq
sentence-transformers
tiktoken
itsdangerous
python-dotenv
langchain_huggingface
pandas 
markdown
bleach
pygments
loguru
watchdog
